.page {
    padding: 24px;
}

.container {
    margin: auto;
    max-width: 1140px;
}

.flex {
    display: flex;
    flex-direction: column;
}

svg {
    align-self: flex-end;
    margin-top: 24px;
    width: 45%;
    height: 45%;
}

h1,
h2 {
    margin: 24px 0 36px 0;
    padding: 0;
    font-family: 'Roboto Slab', serif, 'Arial';
    font-weight: 500;
    font-size: 36px;
    line-height: 130%;
}

span {
    color: var(--green-color);
}

.primary-btn {
    padding: 14px 39px;
    font-family: 'Roboto', serif, 'Arial';
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: white;
    text-decoration: none;
}

.primary-btn--orange {
    background-color: var(--green-color);
}

.primary-btn--orange:hover {
    background-color: var(--light-green-color);
    transition: 0.3s ease;
}

.not-found__grid {
	display: grid;
	position: relative;
	grid-template-rows: 1fr 2fr;
	grid-template-areas: 
		"A"
		"B";
	gap: var(--m24);
	align-items: center;
	justify-items: center;
	text-align: center;
	padding: var(--m36) var(--m12);
}

.not-found__image {
	grid-area: A;
	width: 100%;
}

.not-found__bot {
	grid-area: B;
}

.not-found__image img {
	right: 20px;
}