.list-container {
    width: 1140px;
    margin: auto
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
    margin-bottom: 100px;
}

.list__item {
    white-space: pre-wrap;
    margin-top: 20px;
}

.list__item p {
    margin: 0;
}

.list__item-pos {
    column-gap: 40px;
    width: 300px;
}

.list__item-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
}

.list__pic {
    width: 300px;
    height: 260px;
}

.list__item--btn  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs__btn {
    border: 0;
}

.catalog__inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.catalog__input-file  {
    width: 300px;
    margin: 0;
}

.inputs__pos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}