.list-container {
    width: 1140px;
    margin: auto
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 30px;
}

.list__item {
    white-space: pre-wrap;
    margin-top: 20px;
}

.list__item p {
    margin: 0;
}

.list__item-pos {
    column-gap: 40px;
}

.list__item-text {
    width: 200px;
    padding-bottom: 20px;
}

.list__pic {
    width: 200px;
}