body {
    background-color: var(--light-grey-color);
}

main {
    padding-top: 0px;
}

.container {
    overflow: hidden;
}

.footer__wrapper .container {
    overflow: visible;
}

.d-flex-sb {
    display: flex;
    justify-content: space-between;
}

.d-flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.d-flex-full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main-banner */

.main-banner__wrapper {
    margin-bottom: var(--m108);
    background-image: url(../images/main-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-banner__height {
    height: 800px;
}

.main-banner--text {
    color: var(--white-color);
    font-family: var(--font-heading);
}

.main-banner__title {
    font-size: var(--font-size-42);
    font-weight: var(--font-weight-700);
    padding-top: calc(2*var(--m108));
    line-height: 130%;
    margin: 0;
}

.main-banner__place {
    font-size: var(--font-size-22);
    font-weight: var(--font-weight-500);
    padding-top: 24px;
    line-height: 130%;
    margin: 0;
}

.main-banner__slogan {
    float: right;
    padding-top: 250px;
    font-size: 54px;
    font-weight: var(--font-weight-600);
	 color: var(--white-color);
    letter-spacing: 0.03em;
    line-height: 130%;
    margin: 0;
}

/* brend */

.brend {
    margin-bottom: var(--m108);
}

.brend__title {
    margin-top: 0;
}

.brend-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: var(--m36);
    align-items: center;
    justify-items: center;
    padding-bottom: 24px;
    z-index: -1;
}

.brend__pic {
    display: block;
    width: 250px;
}

.brend-grid__item {
    position: relative;
    transition: 0.3s ease;
}

.brend-grid__item:hover {
    color: var(--blue-color);
    transform: scale(1.05);
    cursor: default;
}


/* Media */

@media screen and (max-width: 1280px){
    .brend-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 48px;
    }

    .brend__pic {
        width: 546px;
    }

    .main-banner__title {
        padding-top: 200px;
    }
}

@media screen and (max-width: 1200px){
    .brend__pic {
        width: 366px;
    }
}

@media screen and (max-width: 1023px){
    .brend__pic {
        width: 340px;
    }

    .primary-btn {
        padding: 13px 30px;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .main-banner__title {
        font-size: 36px;
        padding-top: var(--m108);
    }

    .main-banner__slogan {
        font-size: var(--font-size-32);
        padding-top: 350px;
    }

    .brend-grid__item {
        width: 100%;
    }

    .brend__pic {
        width: 100%;
    }

    img {
        display: block;
    }

    .primary-btn {
        right: 24px;
        padding: 10px 20px;
    }
}

@media screen and (max-width: 515px){
    .main-banner__title {
        font-size: 28px;
        padding-left: 0;
    }

    .main-banner__place {
        font-size: 16px;
    }

    .main-banner__slogan {
        font-size: 28px;
    }

    .brend-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .brend-grid__item {
        width: 100%;
    }

    .brend__pic {
        width: 100%;
    }
    .primary-btn {
        padding: 19px 36px;
        font-size: 18px;
        text-align: center;
    }
	}
@media screen and (max-width: 480px) {
    .main-banner__wrapper, .brend {
        margin-bottom: var(--m60);
    }
	}